*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*display flex centralizado*/
body, main, #players, #info, .player{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 89, 255);

}

main{
    background-color: whitesmoke;
    width: 40%;
    height: fit-content;
    min-height: 400px;

    padding: 1rem;

    border-radius: 2rem;

    flex-direction: column;
    justify-content: flex-start;
}

input{
    width: 100%;
}

#info{
    flex-direction: column;
}#players{
    gap: 1.5rem;
    width: 100%;
}.player{
    width: 50%;
    height: 250px;
    overflow-y: scroll;

    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}.player ul{
    width: 100%;
}.player li{
    list-style-type: none;
    margin: 0 0 10px;
}